//Created by zhoutengteng on 16/6/20.
extends ./layoutBasic
block otherLoad
    script(src="/cleditor1_4_5/jquery.cleditor.min.js")
    script(src="/js/edit.js")
    link(href="/cleditor1_4_5/jquery.cleditor.css", rel="stylesheet")


block content
    textarea(id="input" name="input")