//Created by zhoutengteng on 16/7/5.
doctype
html
    head
        meta(charset="utf-8")
        title #{title}
        include ./includes/head
        block otherLoad
    body
        include ./includes/header_only
        block content
        include ./includes/footer
            
