//Created by zhoutengteng on 16/6/20.
extends ./layoutBasic
block otherLoad
    link(href="/css/profile.css", rel="stylesheet")

block content

    div.container
        div.col-xs-7.pull-left.bg-danger
            div.bg-warning.leftSide

            div.clearfix
            nav.text-center
                ul.pagination.navSide(style='padding-left: 0px')
        div.col-lg-3.pull-right.bg-success(style="margin-right:30px")
            div.text-center.alert.alert-info
                span
                    h3 热门风云榜
                        strong.text-danger (top ten)
            div.bg-info.rightSide


    script(src="/js/profile.js")



//                div
//                    div.bg-success.center-block
//                        div.thumbnail
//                            img.img-thumbnail(src="#", alt="picture", style="height:150px;width:50%")
//                            div.caption
//                                h4.text-center Thnmbnail label1
//                                p.text-center Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
//                                p.text-center
//                                    a(href="#",class="btn btn-primary pull-left",role="button") 阅读全文&nbsp;
//                                        span.badge  4
//                                    a(href="#",class="pull-right", style='margin-top:10px')
//                                        span.glyphicon.glyphicon-thumbs-up 10
//                                    a(href="#",class="pull-right", style='margin-right:30px;margin-top:10px')
//                                        span.glyphicon.glyphicon-thumbs-down 1
//                                    div.clearfix
//                                p.text-center
//                                    a(href="#",class=" pull-right", style="margin-top:10px")
//                                        span.glyphicon.glyphicon-user &nbsp;周腾腾
//                                    div.clearfix
//                            div.clearfix
//                div
//                    div.bg-success.center-block
//                        div.thumbnail
//                            img.img-thumbnail(src="#", alt="picture", style="height:150px;width:50%")
//                            div.caption
//                                h4.text-center Thnmbnail label1
//                                p.text-center Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
//                                p.text-center
//                                    a(href="#",class="btn btn-primary pull-left",role="button") 阅读全文&nbsp;
//                                        span.badge  4
//                                    a(href="#",class="pull-right", style='margin-top:10px')
//                                        span.glyphicon.glyphicon-thumbs-up 10
//                                    a(href="#",class="pull-right", style='margin-right:30px;margin-top:10px')
//                                        span.glyphicon.glyphicon-thumbs-down 1
//                                    div.clearfix
//                                p.text-center
//                                    a(href="#",class=" pull-right", style="margin-top:10px")
//                                        span.glyphicon.glyphicon-user &nbsp;周腾腾
//                                    div.clearfix
//                            div.clearfix




//                div
//                    div.bg-success
//                        div.thumbnail.text-center
//                            img.col-xs-3.img-thumbnail(src="#", alt="picture",data-holder-rendered="true",style="height: 150px; padding:4px")
//                            div.caption.col-xs-9
//                                h4.text-center 今天我好帅
//                                p.text-center Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
//                                div.text-center
//                                    a(href="#",class="btn btn-primary pull-left",role="button") 阅读全文&nbsp;
//                                        span.badge  4
//                                    a(href="#",class=" pull-right", style="margin-top:10px")
//                                        span.glyphicon.glyphicon-user &nbsp;周腾腾
//                                    a(href="#",class="pull-right", style='margin-right:30px; margin-top:10px')
//                                        span.glyphicon.glyphicon-thumbs-up 10
//                                    a(href="#",class="pull-right", style='margin-right:30px;margin-top:10px')
//                                        span.glyphicon.glyphicon-thumbs-down 1
//                                    div.clearfix
//                            div.clearfix
//
//                div
//                    div.bg-success
//                        div.thumbnail.text-center
//                            img.col-xs-3.img-thumbnail(src="#", alt="picture",data-holder-rendered="true",style="height: 150px; padding:4px")
//                            div.caption.col-xs-9
//                                h4.text-center 今天我好帅
//                                p.text-center Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
//                                div.text-center
//                                    a(href="#",class="btn btn-primary pull-left",role="button") 阅读全文&nbsp;
//                                        span.badge  2525
//                                    a(href="#",class=" pull-right", style="margin-top:10px")
//                                        span.glyphicon.glyphicon-user &nbsp;周腾腾
//                                    a(href="#",class="pull-right", style='margin-right:30px; margin-top:10px')
//                                        span.glyphicon.glyphicon-thumbs-up 10
//                                    a(href="#",class="pull-right", style='margin-right:30px;margin-top:10px')
//                                        span.glyphicon.glyphicon-thumbs-down 1
//                                    div.clearfix
//                            div.clearfix
//
//                div
//                    div.bg-success
//                        div.thumbnail.text-center
//                            img.col-xs-3.img-thumbnail(src="#", alt="picture",data-holder-rendered="true",style="height: 150px; padding:4px")
//                            div.caption.col-xs-9
//                                h4.text-center 今天我好帅
//                                p.text-center Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
//                                div.text-center
//                                    a(href="#",class="btn btn-primary pull-left",role="button") 阅读全文&nbsp;
//                                        span.badge  4
//                                    a(href="#",class=" pull-right", style="margin-top:10px")
//                                        span.glyphicon.glyphicon-user &nbsp;周腾腾
//                                    a(href="#",class="pull-right", style='margin-right:30px; margin-top:10px')
//                                        span.glyphicon.glyphicon-thumbs-up 10
//                                    a(href="#",class="pull-right", style='margin-right:30px;margin-top:10px')
//                                        span.glyphicon.glyphicon-thumbs-down 1
//                                    div.clearfix
//                            div.clearfix




//                    li
//                        a(href="#" aria-label="Previous")
//                            span(aria-hidden="true") &laquo;
//                    li
//                        a(href="#") 1
//                    li
//                        a(href="#") 2
//                    li
//                        a(href="#") 3
//                    li.active
//                        a(href="#") 4
//                    li
//                        a(href="#" aria-label="Next")
//                            span(aria-hidden="true") &laquo;
//
//
//